.c-button {
    position: relative;
    display: inline-flex;
    @include fontSize("a1");
    @include fluidValue("padding-top", "s-6");
    @include fluidValue("padding-right", "s-12");
    @include fluidValue("padding-bottom", "s-8");
    @include fluidValue("padding-left", "s-12");
    border: 1px solid var(--body-text-color);
    color: var(--body-text-color);
    border-radius: 1000px;

    &__label {
        text-transform: uppercase;
        transition: background-color 0.25s ease-in-out;
    }

    @include hover {
        background-color: var(--body-text-color);
        color: var(--body-bg-color);
    }

    &__next-img {
        @include fluidValue("width", null, 280px);
        height: auto;
        position: absolute;
        top: 100%;
        left: 100%;

        @include mq(md) {
            display: none;
        }
    }
}
