<header class="c-header-wrapper js-mousemove-parallax-container js-header-wrapper" data-scroll-section data-scroll data-scroll-speed="0">
    <i class="c-header__spacer"></i>
    <section class="o-section c-header js-mousemove-parallax-item">
        <div class="o-container">
            <div class="c-header__inner">
                <h1 class="u-a3 js-header-title">
                    <span class="c-header__top">
                        <span> Curated work </span>
                        <span> and inspiration </span>
                    </span>

                    <span class="c-header__bottom">
                        <span class="w50 js-header-title-addon"> by </span>
                        <span class="w50 js-header-title-addon"> Bornfight’s </span>
                        <span class="w100 js-header-title-addon"> blue collar. </span>
                    </span>
                </h1>
            </div>
        </div>
    </section>
</header>
