<section class="o-section o-section--image-trail" data-scroll-section>
    <div class="c-image-trail__wrapper">
        <div class="o-container">
            <div class="c-image-trail__inner">
                <div class="c-image-trail__content">
                    <h3 class="u-a3 c-image-trail__heading">
                        <span class="c-image-trail__heading-top">
                            <span> Curated work </span>
                            <span> and inspiration </span>
                            </span>
                            <span class="c-image-trail__heading-bottom">
                            <span class="w50"> by </span>
                            <span class="w50"> Bornfight’s </span>
                            <span class="w100"> blue collar. </span>
                        </span>
                    </h3>
                </div>
                <div class="c-image-trail js-image-trail">
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_1.jpg", "webpImg":
                    "bornfight_studio_culture_1.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_2.jpg", "webpImg":
                    "bornfight_studio_culture_2.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_3.jpg", "webpImg":
                    "bornfight_studio_culture_3.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_4.jpg", "webpImg":
                    "bornfight_studio_culture_4.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_5.jpg", "webpImg":
                    "bornfight_studio_culture_5.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_6.jpg", "webpImg":
                    "bornfight_studio_culture_6.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_7.jpg", "webpImg":
                    "bornfight_studio_culture_7.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_8.jpg", "webpImg":
                    "bornfight_studio_culture_8.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_9.jpg", "webpImg":
                    "bornfight_studio_culture_9.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_10.jpg", "webpImg":
                    "bornfight_studio_culture_10.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_11.jpg", "webpImg":
                    "bornfight_studio_culture_11.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_12.jpg", "webpImg":
                    "bornfight_studio_culture_12.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_13.jpg", "webpImg":
                    "bornfight_studio_culture_13.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_14.jpg", "webpImg":
                    "bornfight_studio_culture_14.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_15.jpg", "webpImg":
                    "bornfight_studio_culture_15.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_16.jpg", "webpImg":
                    "bornfight_studio_culture_16.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_17.jpg", "webpImg":
                    "bornfight_studio_culture_17.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_18.jpg", "webpImg":
                    "bornfight_studio_culture_18.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_19.jpg", "webpImg":
                    "bornfight_studio_culture_19.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_20.jpg", "webpImg":
                    "bornfight_studio_culture_20.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_21.jpg", "webpImg":
                    "bornfight_studio_culture_21.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_22.jpg", "webpImg":
                    "bornfight_studio_culture_22.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_23.jpg", "webpImg":
                    "bornfight_studio_culture_23.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_24.jpg", "webpImg":
                    "bornfight_studio_culture_24.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_25.jpg", "webpImg":
                    "bornfight_studio_culture_25.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_26.jpg", "webpImg":
                    "bornfight_studio_culture_26.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_27.jpg", "webpImg":
                    "bornfight_studio_culture_27.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_28.jpg", "webpImg":
                    "bornfight_studio_culture_28.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_29.jpg", "webpImg":
                    "bornfight_studio_culture_29.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_30.jpg", "webpImg":
                    "bornfight_studio_culture_30.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_31.jpg", "webpImg":
                    "bornfight_studio_culture_31.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_32.jpg", "webpImg":
                    "bornfight_studio_culture_32.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_33.jpg", "webpImg":
                    "bornfight_studio_culture_33.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_34.jpg", "webpImg":
                    "bornfight_studio_culture_34.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_35.jpg", "webpImg":
                    "bornfight_studio_culture_35.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_36.jpg", "webpImg":
                    "bornfight_studio_culture_36.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_37.jpg", "webpImg":
                    "bornfight_studio_culture_37.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_38.jpg", "webpImg":
                    "bornfight_studio_culture_38.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_39.jpg", "webpImg":
                    "bornfight_studio_culture_39.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_40.jpeg", "webpImg":
                    "bornfight_studio_culture_40.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_41.jpg", "webpImg":
                    "bornfight_studio_culture_41.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_42.jpg", "webpImg":
                    "bornfight_studio_culture_42.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_43.jpg", "webpImg":
                    "bornfight_studio_culture_43.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_44.jpg", "webpImg":
                    "bornfight_studio_culture_44.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_45.jpg", "webpImg":
                    "bornfight_studio_culture_45.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_46.jpg", "webpImg":
                    "bornfight_studio_culture_46.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_47.jpg", "webpImg":
                    "bornfight_studio_culture_47.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_48.jpg", "webpImg":
                    "bornfight_studio_culture_48.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_49.jpg", "webpImg":
                    "bornfight_studio_culture_49.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_50.jpg", "webpImg":
                    "bornfight_studio_culture_50.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_51.jpg", "webpImg":
                    "bornfight_studio_culture_51.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_52.jpg", "webpImg":
                    "bornfight_studio_culture_52.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_53.jpg", "webpImg":
                    "bornfight_studio_culture_53.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_54.jpg", "webpImg":
                    "bornfight_studio_culture_54.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_55.jpg", "webpImg":
                    "bornfight_studio_culture_55.webp", "isWorkSingle": "@@isWorkSingle", })
                    @@include('image-trail-image.html', { "jpgImg": "bornfight_studio_culture_56.jpg", "webpImg":
                    "bornfight_studio_culture_56.webp", "isWorkSingle": "@@isWorkSingle", })
                </div>
            </div>
        </div>
    </div>
</section>
<section class="o-section o-section--footer" data-scroll-section>
    <div class="o-container">
        <div class="c-image-trail__bottom">
            <ul class="c-services u-b1 u-uppercase">
                <li>
                    Web Production
                </li>
                <li>
                    Digital Branding
                </li>
                <li>
                    Content Strategy
                </li>
            </ul>
            <div class="c-copy u-b2">
                <a href="https://www.bornfight.com/privacy-policy/" rel="noreferrer" target="_blank"
                   class="js-color-switch-trigger" data-bg-color="#121212" data-color="#E5E5E5">
                    Privacy policy
                </a>
                <p>
                    © 2022, Bornfight Studio
                </p>
            </div>
        </div>
    </div>
</section>
