<a class="u-uppercase c-marquee js-color-switch-trigger" data-bg-color="#121212" data-color="#E5E5E5" href="mailto:hello@bornfight.studio" target="_blank" rel="noreferrer">
    <p class="c-marquee__mover">
        hello@bornfight.studio
    </p>

    <p class="c-marquee__mover">
        hello@bornfight.studio
    </p>

    <p class="c-marquee__mover">
        hello@bornfight.studio
    </p>

    <p class="c-marquee__mover">
        hello@bornfight.studio
    </p>

    <p class="c-marquee__mover">
        hello@bornfight.studio
    </p>
</a>
