.u-video-wrapper {
    position: relative;
    overflow: hidden;

    &__inner {
        width: 100%;
    }

    video {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: auto;

        &::-internal-media-controls-overlay-cast-button {
            display: none;
        }
    }
}
