<div class="c-sticky-layout__back box2d js-color-switch-trigger" data-bg-color="#121212" data-color="#E5E5E5">
    <a href="/" class="u-b0 u-uppercase">
        Back to homepage
    </a>
</div>

<a href="/" class="c-sticky-layout__logo box2d js-color-switch-trigger" data-bg-color="#121212" data-color="#E5E5E5" aria-label="Bornfight Studio">
    @@include('logo.html')
</a>

<div class="c-sticky-layout__socials js-color-switch-trigger" data-bg-color="#121212" data-color="#E5E5E5">
    <a href="https://www.instagram.com/bornfight.studio" class="u-b0" target="_blank" rel="noreferrer">Instagram</a>
    <a href="https://dribbble.com/bornfight_studio" class="u-b0 box2d" target="_blank" rel="noreferrer">Dribbble</a>
    <a href="https://www.awwwards.com/bornfight_studio/" class="u-b0 box2d" target="_blank" rel="noreferrer">Awwwards</a>
</div>
